# Integration test of delivered data

In [2]:
import os

first_time = True
if first_time:
    os.chdir("..")
    first_time = False

In [20]:
import pandas as pd

base_path = "./data/processed/delivery/stats/"

risk_patients_df = pd.read_csv(base_path + "20201117121038_risk_patient_general.csv", index_col=0)
risk_patients_df["Type"] = "Risk Patient"

risk_patients_df

     Patient ID  Birth date  Gender          Type
0        306908  1929-05-20    male  Risk Patient
1       1366351  1943-09-21  female  Risk Patient
2       1259776  1980-01-01    male  Risk Patient
3        646369  1949-09-01  female  Risk Patient
4         18996  1980-03-10  female  Risk Patient
..          ...         ...     ...           ...
526    15541274  1961-07-29    male  Risk Patient
527    15557375  1959-02-28    male  Risk Patient
528    15566307  1946-07-01  female  Risk Patient
529    15581985  1939-01-17    male  Risk Patient
530    15759890  1970-10-03  female  Risk Patient

[531 rows x 4 columns]

In [21]:
remaining_patients_df = pd.read_csv(base_path + "20201117121038_remaining_patient_general.csv", index_col=0)
remaining_patients_df["Type"] = "Remaining Patient"

remaining_patients_df

        Patient ID  Birth date  Gender               Type
0              167  1972-10-12    male  Remaining Patient
1              353  1978-12-11    male  Remaining Patient
2              507  1971-12-31  female  Remaining Patient
3              647  1980-01-08    male  Remaining Patient
4              663  1978-06-30  female  Remaining Patient
...            ...         ...     ...                ...
163262    15950824  1932-01-30    male  Remaining Patient
163263    15950840  1940-01-02    male  Remaining Patient
163264    15951111  1966-06-06    male  Remaining Patient
163265    15951138  1975-08-23    male  Remaining Patient
163266    15951146  1975-08-23    male  Remaining Patient

[163267 rows x 4 columns]

In [22]:
patients_df = pd.concat([risk_patients_df, remaining_patients_df])

patients_df = patients_df.set_index("Patient ID")

patients_df

            Birth date  Gender               Type
Patient ID
306908      1929-05-20    male       Risk Patient
1366351     1943-09-21  female       Risk Patient
1259776     1980-01-01    male       Risk Patient
646369      1949-09-01  female       Risk Patient
18996       1980-03-10  female       Risk Patient
...                ...     ...                ...
15950824    1932-01-30    male  Remaining Patient
15950840    1940-01-02    male  Remaining Patient
15951111    1966-06-06    male  Remaining Patient
15951138    1975-08-23    male  Remaining Patient
15951146    1975-08-23    male  Remaining Patient

[163798 rows x 3 columns]

In [30]:
charlson_scores_df = pd.read_csv(base_path + "20201216125100_patient_case_charlson_scores.csv")
charlson_scores_df.rename(columns={"dim_patient_sid":"Patient SID", "dim_patient_bk": "Patient 0ID", "dim_patient_pid_int":"Patient ID", "dim_fall_sid": "Case ID"}, inplace=True)

charlson_scores_df = charlson_scores_df.set_index("Case ID")

charlson_scores_df

,Patient SID,Patient 0ID,Patient ID,charlson_unweighted,charlson_unweighted_assign0,charlson_weighted,charlson_weighted_assign0,charlson_age_adjustment,elixhauser_unweighted,elixhauser_unweighted_assign0,elixhauser_van_walraven,elixhauser_van_walraven_assign0
Case ID,,,,,,,,,,,,
1245158,564128,9183140,9183140,5,4,8,7,1,8,8,25,25
1467038,470522,2982692,2982692,0,0,0,0,0,1,1,6,6
1951441,647404,1123289,1123289,0,0,0,0,0,1,1,5,5
1978729,771444,10254935,10254935,0,0,0,0,3,1,1,5,5
1982643,653839,910538,910538,1,1,1,1,2,2,2,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...
4918135,1106543,14281813,14281813,0,0,0,0,0,1,1,-3,-3
4918163,413002,4264770,4264770,0,0,0,0,4,2,2,5,5
4918187,1060833,14252708,14252708,1,1,1,1,0,4,4,6,6
4918200,263760,3735990,3735990,2,2,4,4,3,4,4,2,2
4918209,1106550,14281880,14281880,2,2,2,2,2,2,2,12,12

In [31]:
charlson_scores_df.join(patients_df, on="Patient ID")

,Patient SID,Patient 0ID,Patient ID,charlson_unweighted,charlson_unweighted_assign0,charlson_weighted,charlson_weighted_assign0,charlson_age_adjustment,elixhauser_unweighted,elixhauser_unweighted_assign0,elixhauser_van_walraven,elixhauser_van_walraven_assign0,Birth date,Gender,Type
Case ID,,,,,,,,,,,,,,,
1245158,564128,9183140,9183140,5,4,8,7,1,8,8,25,25,1947-07-28,male,Remaining Patient
1467038,470522,2982692,2982692,0,0,0,0,0,1,1,6,6,1995-11-10,female,Remaining Patient
1951441,647404,1123289,1123289,0,0,0,0,0,1,1,5,5,1994-08-13,male,Remaining Patient
1978729,771444,10254935,10254935,0,0,0,0,3,1,1,5,5,1938-10-08,female,Remaining Patient
1982643,653839,910538,910538,1,1,1,1,2,2,2,3,3,1948-09-09,male,Remaining Patient
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4918135,1106543,14281813,14281813,0,0,0,0,0,1,1,-3,-3,1982-09-17,male,Remaining Patient
4918163,413002,4264770,4264770,0,0,0,0,4,2,2,5,5,1936-09-25,male,Remaining Patient
4918187,1060833,14252708,14252708,1,1,1,1,0,4,4,6,6,1971-08-19,male,Remaining Patient
4918200,263760,3735990,3735990,2,2,4,4,3,4,4,2,2,1947-02-08,male,Remaining Patient
4918209,1106550,14281880,14281880,2,2,2,2,2,2,2,12,12,1948-12-05,male,Remaining Patient